// breakpoints

$bp-mobile: 375px;
$bp-desktop: 1440px;

// colors

$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$gray-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

// typography

$ff-body: 'Outfit', sans-serif;

// 15px
$fs-base: 0.9375rem;

$fw-normal: 400;
$fw-bold: 700;
